<template>
    <div id="app">
        <Header />

        <router-view></router-view>

        <Footer />
    </div>
</template>

<script>
import Footer from '@/components/Layout/Footer.vue'
import Header from '@/components/Header/Header.vue'
export default {
    name: 'App',
    components: {
        Footer,
        Header,
    },
    data() {
        return {}
    },
    mounted: function() {
        this.loadHome()
    },

    methods: {
        loadHome() {
            this.$router.push('/home')
        },
    },
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
